{% extends 'WNCSoldierBundle::base.html.twig' %}

{% block content %}	



<h4>Participant {{ entity.user.firstname }} {{ entity.user.lastname }}</h4>
<br />
{% for label, value in map %}

    <div class="offset-by-one eleven columns space-30">
        
        <div class="four columns"><strong>{{ label }}</strong></div>
        <div class="eight columns">{{ value|raw }}</div>

    </div>

{% endfor %}


    <div class="six columns">
    <a href="{{ path('participant') }}" class="button">Back to the list</a>
    </div>

    

{% endblock %}	