{% extends "WNCSoldierBundle::layout.html.twig" %}

{% block content %}

{% createphp cmfMainContent as="rdf" %}
<div {{ createphp_attributes(rdf) }}>
    <h2 {{ createphp_attributes( rdf.title ) }}>{{ createphp_content( rdf.title ) }}</h2>
</div>
{% endcreatephp %}

<div class="six columns">
{% createphp cmfMainContent as="rdf" %}
<div {{ createphp_attributes(rdf) }}>
    <div {{ createphp_attributes( rdf.body ) }}>{{ createphp_content( rdf.body ) }}</div>
</div>
{% endcreatephp %}
</div>

<div class="six columns">
{% render 'WNCSoldierBundle:Default:contact' %}
</div>
{% endblock %}

{% block genemu_captcha_widget %}
    <img id="{{ id }}_image" src="{{ src }}" width="{{ width }}" height="{{ height }}" title="{{ name|trans }}" />
    {# We're putting a link there #}
    <a id="{{ id }}_refresh">Refresh</a>
    {{ block("field_widget") }}
{% endblock %}

{% block genemu_captcha_javascript %}
    <script type="text/javascript">
        $(function () {
            {# Image will be refreshed when the link is clicked #}
            $('#{{ id }}_refresh').click(function() {
                $('#{{ id }}_image').attr('src', '{{ path('genemu_captcha_refresh') }}?' + Math.random());
            });
        });
    </script>

{% endblock %}