
<div class="sonata-blog-post-list row">
    {% for post in pager.getResults() %}
        <div class="sonata-blog-post-container twelve columns">
            <div class="sonata-blog-post-date-container">
                {{ post.publicationDateStart | format_date }}
            </div>
            <h5 class="sonata-blog-post-title">
                <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a>
                <span class="sonata-blog-post-author">{{ 'archive_author'|trans({'%author%': post.authorName }, 'SonataNewsBundle') }}</span>
            </h5>

            <div class="sonata-blog-post-abtract space-15">
                {{ post.abstract }}
            </div>
            <span class="sonata-blog-post-comments-count secondary label">{{ 'comments_count'|trans({'%comments_count%': post.commentsCount }, 'SonataNewsBundle') }}</span>
        </div>
    {% else %}
        {{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}
    {% endfor %}
</div>
