{% extends 'WNCSoldierBundle::layout.html.twig' %}


{% block content %}	

{% if app.session.hasFlash('success') %} 

    <div class="alert-box success">
    {{ app.session.flash('success') | trans({}, 'SonataUserBundle') }} 
  <a href="" class="close">&times;</a>
</div>

{% endif %} 


<h2>{{ post.title }}</h2>

<div class="sonata-blog-post-container">
    <div class="sonata-blog-post-date-container">
        {{ post.publicationDateStart | format_date }}
    </div>

    <div class="sonata-blog-post-content">
        {{ post.content|raw }}
    </div>
    
    <div class="twelve columns">
    
    {% media post.image, 'wide' %}
    
    </div>

    {% render 'SonataNewsBundle:Post:comments' with {'postId': post.id} %}

    <div class="six columns">
    {% if post.iscommentable %}
        {% render 'SonataNewsBundle:Post:addCommentForm' with {
            'postId': post.id,
            'form': form
        } %}
    {% else %}
        <div>
            {{ 'message_comments_are_closed'|trans({}, 'SonataNewsBundle') }}
        </div>
    {% endif %}
    </div>
</div>


{% endblock %}

