{% if not app.security.isGranted(['ROLE_USER']) %}
<form action="{{ path("fos_user_security_check") }}" method="post" class="custom">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div class="row collapse">
    <div class="five columns">
        <input type="text" id="username" name="_username" value="{{ last_username }}" class="rounded eleven" placeholder="Username" />
    </div>
    <div class="five columns">
        <input type="password" id="password" name="_password" class="rounded eleven" placeholder="Password" />
    </div>
    <div class="two columns">
        <button type="submit" id="_submit" name="_submit" class="login">LOGIN</button>
    </div>
        </div>
    <div class="row collapse">
      <div class="twelve columns">
        <p class="text-right"><a href="{{ path('fos_user_resetting_request') }}">Forgot password?</a></p>
      </div>
    </div>
</form>
{% else %}
<div class="twelve columns">

   <p class="text-right">You're logged as <a href="{{ path('sonata_user_profile_edit') }}"><span class="radius label">{{ app.user.firstname }} {{ app.user.lastname }}</span></a> <a href="{{ path('fos_user_security_logout') }}">Logout</a></p>

</div>

{% endif %}