{% extends "WNCSoldierBundle::layout.html.twig" %}

{% form_theme form 'WNCSoldierBundle:Default:contact_fields.html.twig' %}


{% block content %}

{% createphp contentDocument as="rdf" %}
<div {{ createphp_attributes(rdf) }}>
    <h2 {{ createphp_attributes( rdf.title ) }}>{{ createphp_content( rdf.title ) }}</h2>
</div>
{% endcreatephp %}

<div class="six columns">
{% createphp contentDocument as="rdf" %}
<div {{ createphp_attributes(rdf) }}>
    <div {{ createphp_attributes( rdf.body ) }}>{{ createphp_content( rdf.body ) }}</div>
</div>
{% endcreatephp %}
</div>

<div class="six columns">

    <div class="columns twelve panel">
    <h4>Send email</h4>
    <p>We welcome all comments or questions</p>
    {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message }}
            <a href="#" class="close">&times;</a>
        </div>
    {% endfor %}

    <form action="{{ path('cmf_routing_dynamic_route_cms_routes_en_contact') }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.topic) }}
    {{ form_row(form.message) }}

    {{ form_rest(form) }}

    

    <div class="six columns">
        <button type="submit" class="button">Send</button>
        
    </div>
{{ form_javascript(form) }}


{{ form_stylesheet(form) }}
</form>  


</div>

</div>
{% endblock %}

{% block genemu_captcha_widget %}
    <img id="{{ id }}_image" src="{{ src }}" width="{{ width }}" height="{{ height }}" title="{{ name|trans }}" />
    {# We're putting a link there #}
    <a id="{{ id }}_refresh">Refresh</a>
    {{ block("field_widget") }}
{% endblock %}

{% block genemu_captcha_javascript %}
    <script type="text/javascript">
        $(function () {
            {# Image will be refreshed when the link is clicked #}
            $('#{{ id }}_refresh').click(function() {
                $('#{{ id }}_image').attr('src', '{{ path('genemu_captcha_refresh') }}?' + Math.random());
            });
        });
    </script>

{% endblock %}
