{% extends 'WNCSoldierBundle::base.html.twig' %}

{% form_theme form _self %}

{% block genemu_captcha_widget %}
    <img id="{{ id }}_image" src="{{ src }}" width="{{ width }}" height="{{ height }}" title="{{ name|trans }}" />
    {# We're putting a link there #}
    <a id="{{ id }}_refresh">Refresh</a>
    {{ block("field_widget") }}
{% endblock %}

{% block genemu_captcha_javascript %}
    <script type="text/javascript">
        $(function () {
            {# Image will be refreshed when the link is clicked #}
            $('#{{ id }}_refresh').click(function() {
                $('#{{ id }}_image').attr('src', '{{ path('genemu_captcha_refresh') }}?' + Math.random());
            });
        });
    </script>

    {{ parent() }}
{% endblock %}

{% block content %}
<div class="columns twelve panel">

    {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message }}
            <a href="#" class="close">&times;</a>
        </div>
    {% endfor %}

    <h4>Contact Us<h4>

    <form action="{{ path('contact') }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.topic) }}
    {{ form_row(form.message) }}

    {{ form_rest(form) }}

    

    <div class="six columns">
        <button type="submit" class="button">Send</button>
        
    </div>
</form>  


</div>

{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    {{ form_javascript(form) }}
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
  
  {{ form_stylesheet(form) }}

{% endblock %}	