{% extends 'WNCSoldierBundle::base.html.twig' %}


{% block content %}

<div class="six columns">

<dl class="tabs">
  <dd class="active"><a href="#simple1">Soldier</a></dd>
  <dd><a href="#simple2">Participant</a></dd>
</dl>

<ul class="tabs-content">
  <li class="active" id="simple1Tab">
    <form action="{{ path('fos_user_registration_register', {'type': 'soldier'}) }}" method="post" {{ form_enctype(form) }}>
    <div class="row">
        <div class="six columns">
            {{ form_errors(form.firstname) }}
            {{ form_widget(form.firstname) }}
        </div>
        <div class="six columns">
            {{ form_errors(form.soldier.mothers_name) }}
            {{ form_widget(form.soldier.mothers_name) }}
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            {{ form_errors(form.soldier.city) }}
            {{ form_widget(form.soldier.city) }}
        </div>
        <div class="six columns">
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            <button type="submit" class="button">Sign Up</button>
        </div>
    </div>
    {{ form_row(form.plainPassword) }}
    {{ form_widget(form._token) }}

    </form>

</li>
  <li id="simple2Tab">
    <form action="{{ path('fos_user_registration_register', {'type': 'participant'}) }}" method="post" {{ form_enctype(form2) }}>
        <div class="row">
            <div class="six columns">
                {{ form_errors(form2.lastname) }}
                {{ form_widget(form2.lastname) }}
            </div>
            <div class="six columns">
                {{ form_errors(form2.firstname) }}
                {{ form_widget(form2.firstname) }}
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                {{ form_errors(form2.participant.city) }}
                {{ form_widget(form2.participant.city) }}
            </div>
            <div class="six columns">
                {{ form_errors(form2.email) }}
                {{ form_widget(form2.email) }}
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <button type="submit" class="button">Sign Up</button>
            </div>
        </div>

    {{ form_row(form2.plainPassword) }}
    {{ form_widget(form2._token) }}

    </form>

</li>
</ul>

</div>


<div class="six columns">
<h5>Who's joined</h5>

{% render "WNCSoldierBundle:Default:participants" %}

</div>

{% endblock %}