{% block form_label %}
{% spaceless %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}

    {% if required %}
        <span class="required" title="This field is required">*</span>
    {% endif %}

    </label>
{% endspaceless %}
{% endblock form_label %}

{% block form_row %}
{% spaceless %}
    <div class="row {{ id }} space-15 {% if errors|length > 0 %}error{% endif %}">
        <div class="twelve columns">
            {{ form_label(form) }}
        </div>
        <div class="eight columns">
            
            {{ form_widget(form) }}
        </div>
        <div class="errors twelve columns">
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block field_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="round alert label">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock field_errors %}

{% block form_errors %}
{% spaceless %}
    
    {% if errors|length > 0 %}
    <div class="row">
    <div class="alert-box alert eight columns">
        {% for error in errors %}
            {{
                error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            }}<br />
        {% endfor %}
<a href="" class="close">&times;</a>
    </div>
    </div>
    {% endif %}
    
{% endspaceless %}
{% endblock form_errors %}