<!DOCTYPE html>

<html {{ sonata_seo_html_attributes() }}>
<head>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width" />
  {{ sonata_seo_title() }}
  {{ sonata_seo_metadatas() }}

{% block stylesheets %}
	<!-- Included CSS Files -->
    
    <link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
    {% stylesheets output='css/total.css' filter='cssrewrite'

        'bundles/wncsoldier/stylesheets/foundation.min.css'
        'bundles/wncsoldier/stylesheets/page.css'
        'bundles/wncsoldier/stylesheets/app.css'
        'bundles/wncsoldier/stylesheets/colorbox/colorbox.css'

        %}
        <link rel="stylesheet"  href="{{ asset_url }}" media="screen" />
        
    {% endstylesheets %}
    {% block includes %}

        {% if is_granted("ROLE_SUPER_ADMIN") and "cmf_routing_dynamic" in app.request.attributes.get('_route') %}
        
            {% stylesheets output='css/bootstrap.css' filter='cssrewrite'

            '@SandboxMainBundle/Resources/public/bootstrap/css/bootstrap.css'

            %}
            <link rel="stylesheet"  href="{{ asset_url }}" media="screen" />

            {% endstylesheets %}

            {% include "SymfonyCmfCreateBundle::includecssfiles.html.twig" %}

        {% else %}
            {% stylesheets output='css/ui.css' filter='cssrewrite'

            'bundles/wncsoldier/stylesheets/ui-lightness/jquery.css'

            %}
            
            <link rel="stylesheet"  href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" media="screen" >
            {% endstylesheets %}
        {% endif %}



    {% endblock %}

    {% block top_scripts %}
    {% endblock %}

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="public/css/ie.css">
	<![endif]-->
{% endblock stylesheets %}
	

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


</head>
<body class="sonata-bc">


{% block page_container %}
<!-- Header Content -->
<header>
	<div class="container">
    <div class="jumbotron row">
      <div class="twelve columns">
        <div class="six columns">
          <a href="{{ path('homepage') }}" class="logo"><span class="hide">L'Shem Shmira Guard duty for the rest of us</span></a>
        </div>
        <div class="six columns login-form">{% render "WNCSoldierBundle:Default:login" %}</div>

      </div>
      {% render "WNCSoldierBundle:Default:menu" %}
     </div>
    </div>
	
	</div>
</header>
	<div class="container">

		 {% block container %}
		<div class="row content">
			<div class="twelve columns">		
            {% block content %}
            {% endblock content %}
			</div>
		</div>
		{% endblock %}
		
		
	</div><!-- container -->
<!-- Footer Content -->

{% render "WNCSoldierBundle:Default:footer" %}

  {% block javascripts %}
          <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
                    
          <script type="text/javascript">
            jQuery.fn.jtTabs = jQuery.fn.tabs;
          </script>
          <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
          
            {% javascripts 
                'bundles/sonatajquery/jquery-ui-i18n.js'
                'bundles/wncsoldier/javascripts/jquery.colorbox.js'
                'bundles/wncsoldier/javascripts/chosen/chosen.jquery.min.js'
                'bundles/fosjsrouting/js/router.js'
                'bundles/wncsoldier/javascripts/app.js'
                
                output='js/all.js'
                %}
              <script src="{{ asset_url }}"></script>



            {% endjavascripts %}
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
         
              
          
        {% if is_granted("ROLE_SUPER_ADMIN") and "cmf_routing_dynamic" in app.request.attributes.get('_route') %}
        {% block bottom_scripts %}
            {% render "symfony_cmf_create.jsloader.controller:includeJSFilesAction" %}
        {% endblock %}
{% endif %}


  {% endblock %}

    
{% endblock %}
<script src="http://cdn.wibiya.com/Toolbars/dir_1258/Toolbar_1258564/Loader_1258564.js" type="text/javascript"></script><noscript><a href="http://www.wibiya.com/">Web Toolbar by Wibiya</a></noscript>
</body>
</html>
