{% extends 'WNCSoldierBundle::base.html.twig' %}

{% block content %}	
<h4>Edit Your account</h4>
<br />

{% block fos_user_content %}
<div class="sonata-user-edit-profile">

    <form action="{{ path('sonata_user_profile_edit') }}" method="POST">
       
      
    {{ form_errors(form) }}
    
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email) }}
    
    {% if app.user.type == 'soldier' %}

    {{ form_row(form.soldier.city) }}
    {{ form_row(form.soldier.mothers_name) }}
    {{ form_row(form.soldier.service_end_date) }}
    {{ form_row(form.soldier.army_unit) }}
    {{ form_row(form.soldier.gender) }}
    {{ form_row(form.soldier.self_description) }}
    {{ form_row(form.soldier.video) }}
    {{ form_row(form.soldier.wants_to_contact) }}
    {{ form_row(form.soldier.comments) }}

    {% else %}
  
    {{ form_row(form.participant.gender) }}
    {{ form_row(form.participant.city) }}
    {{ form_row(form.participant.comments) }}
    {{ form_row(form.participant.phone_number) }}
    {{ form_row(form.participant.occupation) }}
    {{ form_row(form.participant.organization) }}
    {{ form_row(form.participant.birth_date) }}
    {{ form_row(form.participant.activity) }}
    {{ form_row(form.participant.activity_start_date) }}
    {{ form_row(form.participant.activity_end_date) }}
    {{ form_row(form.participant.wants_to_contact) }}
    {{ form_row(form.participant.volunteer) }}
  
    {% endif %}
    
    {{ form_row(form._token) }}
    {{ form_row(form.plainPassword) }}
      

        <input type="submit" name="submit" value="Update" />
    </form>

</div>
{% endblock fos_user_content %}

{% endblock %}

