{% extends 'ApplicationSonataUserBundle:Profile:show.html.twig' %}

{% block profile_content %}	
<h2>Edit Your account</h2>

{% block fos_user_content %}
<div class="sonata-user-edit-profile">

    <form action="{{ path('sonata_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    
    {{ form_errors(form) }}
    
    <div class="six columns">{{ form_row(form.firstname) }}</div>
    <div class="six columns">{{ form_row(form.email) }}</div>
  

    {% if app.user.type == 'soldier' %}
    
    <div class="six columns">
    {{ form_row(form.soldier.mothers_name) }}
    {{ form_row(form.soldier.service_end_date) }}
        
    {{ form_row(form.soldier.army_unit) }}
        
    {{ form_row(form.soldier.city) }}
        
    <div class="row space-15">
    {{ form_errors(form.soldier.gender) }}
    {{ form_widget(form.soldier.gender) }}
        </div>
        
    {{ form_row(form.soldier.self_description) }}
        
    </div>
    <div class="six columns">
      
        
    {{ form_row(form.soldier.comments) }}
        
        
    <button type="submit" class="button">UPDATE</button>
        
    </div>
    
    

    {% else %}
    
    <div class="six columns">
        {{ form_row(form.lastname) }}
        {{ form_row(form.participant.birth_date) }}
        {{ form_row(form.participant.occupation) }}
            
        {{ form_row(form.participant.occupation) }}
        {{ form_row(form.participant.organization) }}

        {{ form_row(form.participant.activity) }}
        {{ form_row(form.participant.activity_start_date) }}
        {{ form_row(form.participant.activity_end_date) }}
        
        <div class="row space-15">
            {{ form_errors(form.participant.gender) }}
            {{ form_widget(form.participant.gender) }}
        </div>
    </div>
    
    <div class="six columns">
        {{ form_row(form.participant.city) }}
        
        {{ form_row(form.participant.phone_number) }}
        

        
        {{ form_row(form.participant.comments) }}
        {{ form_row(form.participant.self_description) }}
        {{ form_row(form.participant.volunteer) }}
        
        <button type="submit" class="button">UPDATE</button>
    </div>

  
    {% endif %}
    
    {{ form_row(form._token) }}
    {{ form_row(form.plainPassword) }}
  

</form>

</div>
{% endblock fos_user_content %}

{% endblock %}

